<h1><%= @auction.title%></h1>
<p><%= @auction.details%></p>
<p><strong>current price:</strong> $<%=@auction.bid_price %></p>
<p>Reserve price not met</p>

<% if @auction.watch_by?(current_user) %>
  <%= link_to '',watch_path(@watch),method: :delete,class:'glyphicon glyphicon-eye-close' %>
<% else %>
  <%= link_to '', auction_watches_path(@auction),method: :post,class:'glyphicon glyphicon-eye-open' %>
<% end %>
<% if current_user == @auction.user%>
  <%= link_to 'Delete', auction_path(@auction),
                         data: {confirm: 'Are you sure?'}%>
<% end %>
<%= form_tag auction_bids_path(@auction) do %>

  <div class="">
    <%= number_field_tag :amount %>
    <%= submit_tag 'Bid' %>
  </div>

<%end%>


<h3>Previous bids</h3>
<% if @auction.bids.presence %>
  <% @auction.bids.order(created_at: :desc).each do |b| %>
  <p><%= b.user.full_name %> <strong>$ <%= b.amount %></strong></p>
  <% end %>
<% else %>
<h4>Be the first one to bid</h4>
<% end %>
